<% include partials/header %>

<div class='container text-center'>
	<h2>Welcome student <%= loginStudent %></h2> 
</div>


<% loginStudent.cv.forEach(function(theCV){ %>

	<div class="container">
	<div class="row">
		<div class="col-md-4">
			<a href="/cvs/<%= theCV._id%>">
				<h2><%= theCV.cvname.replace(/\s/g,'') %></h2>
			</a>
			<a href="./CV/<%= loginStudent.folder %>/<%= theCV.cvname.replace(/\s/g,'')%>.docx">
				<h3>Download</h3>
			</a>
		</div>
	</div>
</div>
<% }); %>




<form action="/newcv" method='POST'>
<input type="text" name="thecvname" required>
	<button class="btn btn-primary">Create CV</button>
</form>







<% include partials/footer %>